// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
// ANIMATION BUTTON SHAKE
@keyframes shake {
    0% {
        left: 0;
    }
    1% {
        left: -3px;
    }
    2% {
        left: 5px;
    }
    3% {
        left: -8px;
    }
    4% {
        left: 8px;
    }
    5% {
        left: -5px;
    }
    6% {
        left: 3px;
    }
    7% {
        left: 0;
    }
}

:root {
    --header-height: 3rem;

    // colors
    --first-color: #da2535;
    --first-color-alt: #c42130;
    --first-color-send: #de3b49;
    --title-color: #161212;
    --text-color: #5b5757;
    --text-color-light: #8f8a8a;
    --body-color: #fefbfb;
    --container-color: #fff;

    //font and typography

    --body-font: "Open Sans", sans-serif;

    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    @media screen and (min-width: 968px) {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight
    --font-normal: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    //z-index

    --z-fixed: 100;
}
// BASIC

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

// CSS CLASS
.section {
    padding: 2rem 0 4rem;
    &__title {
        font-size: var(--h1-font-size);
    }
    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
    }
}
.section__title,
.section__subtitle {
    text-align: center;
}

// LAYOUT
.basic-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    border: 1px solid black;
}
.flex {
    display: flex;
    align-items: center;
}
.grid {
    display: grid;
    gap: 1.5rem;
}

// HEADER
.lay-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

// NAV
.nav {
    max-width: 1024px;
    height: var(--header-height);
    justify-content: space-between;

    &__menu {
        @media screen and (max-width: 768px) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 2rem;
            text-align: center;
            background-color: var(--first-color);
            transition: 0.4s;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
        }
    }
    &__item {
        margin-bottom: var(--mb-2);
    }
    &__link,
    &__logo {
        color: var(--body-color);
        font-weight: var(--font-semi-bold);
        &:hover {
            color: var(--title-color);
            transition: 0.3s;
        }
    }
    &__toggle {
        position: absolute;
        top: 10px;
        right: 16px;
        cursor: pointer;
        div {
            width: 25px;
            height: 3px;
            margin: 5px;
            transition: all 0.3s ease;
            border-radius: 1rem;
            background-color: #fff;
        }
    }
}

// ANIMATION TOGGLE
.toggleX .line1 {
    transform: rotate(-45deg) translate(5px, 20px);
}
.toggleX .line2 {
    opacity: 0;
}
.toggleX .line3 {
    transform: rotate(45deg) translate(5px, -20px);
}
.toggleX {
    margin-right: 1rem;
}

// SHOW MENU
.show-menu {
    top: var(--header-height);
}

// HOME
.home {
    &__container {
        height: calc(100vh - var(--header-height));
        align-content: center;
    }
    &__title {
        font-size: var(--biggest-font-size);
        margin-bottom: var(--mb-4);
    }
    &__subtitle {
        font-size: var(--h2-font-size);
        color: var(--first-color-send);
        margin-bottom: var(--mb-4);
    }
    &__img {
        width: 300px;
        justify-self: center;
    }
}
// BUTTONS
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 0.75rem 1rem;
    border-radius: 0.3rem;
    &:hover {
        background-color: var(--first-color-alt);
        color: var(--title-color);
    }
    &--products {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        font-size: 1.25rem;
        padding: 0.625rem 0.813rem;
        border-radius: 0.5rem 0 0.5rem 0;
    }
    &--contact {
        position: relative;
        animation-name: shake;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
}

// ABOUT
.about {
    &__data {
        text-align: center;
    }
    &__img {
        margin-bottom: var(--mb-4);
        width: 280px;
        justify-self: center;
    }
}

// PRODUCTS
.products {
    &__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    &__content {
        position: relative;
        flex-direction: column;
        border-radius: 1rem;
        box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
        padding: 0.75rem;
        transition: 0.3s;
        &:hover {
            border: 1px solid var(--text-color-light);
        }
    }
    &__img {
        width: 200px;
        align-self: center;
        margin-bottom: var(--mb-1);
    }
}

// CONTACT
.contact {
    &__container {
        text-align: center;
    }
}

// FOOTER
.footer {
    &__container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2rem;
    }
    &__logo {
        font-size: var(--h2-font-size);
        color: var(--first-color);
        font-weight: var(--font-bold);
    }

    &__social {
        font-size: 1.5rem;
        color: var(--title-color);
        margin-right: var(--mb-2);
        &:hover {
            color: var(--first-color);
        }
    }
    &__title {
        color: var(--first-color);
        margin-bottom: var(--mb-3);
    }
    &__link {
        display: inline-block;
        color: var(--title-color);
        margin-bottom: var(--mb-2);
        &:hover {
            color: var(--first-color);
        }
    }
    .socials {
        margin-top: var(--mb-3);
    }
}

// MEDIA QUERIES

// for medium
@media screen and (min-width: 568px) {
}
.home__container,
.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.about__data {
    text-align: initial;
}
.about__img {
    width: 380px;
}
.products__container {
    margin-top: var(--mb-6);
}

@media screen and (min-width: 768px) {
}

// for large

@media screen and (min-width: 960px) {
    .basic-container {
        margin-left: auto;
        margin-right: auto;
    }
}
